$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1624px,
  xxl: 1624px
);

$container-padding-x: 139px;
$header-height: 110px;
$footer-height: 41px; //minimal footer with only copyright info
